.container_divider{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.subtitle{
    color: #F8B423;
    font-family: 'CustomFont2';
    font-size: 26px;
}

.title{
    color: white;
    font-family: 'CustomFont1';
    font-size: 34px;
}

.line{
    width: 100%;
    height: 1px;
    background: radial-gradient(circle, rgba(248, 180, 35, 1) 0%, rgba(255, 255, 0, 0) 100%);

}

@media (max-width:2120px){
    .subtitle{
        font-size: 24px;
    }

    .title{
        font-size: 32px;
    }
}

@media (max-width:1920px){
    .subtitle{
        font-size: 22px;
    }

    .title{
        font-size: 30px;
    }
}

@media (max-width:1640px){
    .subtitle{
        font-size: 20px;
    }

    .title{
        font-size: 28px;
    }
}

@media (max-width:1440px){
    .subtitle{
        font-size: 18px;
    }

    .title{
        font-size: 26px;
    }
}

@media (max-width:1180px){
    .subtitle{
        font-size: 16px;
    }

    .title{
        font-size: 24px;
    }
}

@media (max-width:1024px){
    .subtitle{
        font-size: 14px;
    }

    .title{
        font-size: 22px;
    }
}

@media (max-width:848px){
    .subtitle{
        font-size: 12px;
    }

    .title{
        font-size: 20px;
    }
}

@media (max-width:768px){
    .subtitle{
        font-size: 10px;
    }

    .title{
        font-size: 18px;
    }
}

@media (max-width:600px){
    .subtitle{
        font-size: 8px;
    }

    .title{
        font-size: 16px;
    }
}

@media (max-width:425px){
    .subtitle{
        font-size: 6px;
    }

    .title{
        font-size: 14px;
    }
}

@media (max-width:320px){
    .subtitle{
        font-size: 4px;
    }

    .title{
        font-size: 12px;
    }
}