.container_footer{
    width: 100%;
    margin-top: 100px;
}

.container_footer {
  position: relative; /* Allow the footer to be positioned properly */
  opacity: 0; /* Start hidden */
  transform: translateY(100px); /* Start below its final position */
  transition: opacity 0.5s ease; /* Optional smooth transition */
}



.container_footer img{
    width: 100%;
}

.bottom_footer a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'CustomFont2';
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.bottom_footer img{
    width: 30px;
}

@media (max-width:1920px){
    .bottom_footer p{
        font-size: 14px;
    }
    
    .bottom_footer img{
        width: 25px;
    }
}

@media (max-width:1440px){
    .bottom_footer p{
        font-size: 12px;
    }
    
    .bottom_footer img{
        width: 20px;
    }
}

@media (max-width:1024px){
    .bottom_footer p{
        font-size: 10px;
    }
    
    .bottom_footer img{
        width: 15px;
    }
}

@media (max-width:768px){
    .bottom_footer p{
        font-size: 8px;
    }
    
    .bottom_footer img{
        width: 12px;
    }
}

@media (max-width:600px){
    .bottom_footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom_footer p{
        font-size: 7px;
    }
    
    .bottom_footer img{
        width: 10px;
    }

}

@media (max-width:425px){
    .bottom_footer p{
        font-size: 5px;
    }
    
    .bottom_footer img{
        width: 8px;
    }
}

@media (max-width:320px){
    .bottom_footer p{
        font-size: 4px;
    }
    
    .bottom_footer img{
        width: 6px;
    }
}